*,
::before,
::after {
  box-sizing: border-box; }

body {
  background: #cecac5;
  font-family: "Poppins", sans-serif;
  text-align: left;
  text-justify: auto;
  font-size: 10px; }

section {
  height: 100vh; }

article {
  height: 90vh; }

header {
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0; }

.fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

footer {
  bottom: 0;
  left: 0;
  background-color: white;
  border-top-right-radius: 50px; }
  footer ul {
    display: inline-flex;
    list-style: none;
    flex-wrap: wrap; }
  footer li {
    margin-right: 10px; }
  footer .footer_top {
    padding: 20px; }
  footer .footer_bottom {
    padding: 20px;
    background-color: rgba(2, 2, 124, 0.445);
    border-top-left-radius: 50px; }

a {
  text-decoration: none;
  color: #172b4d; }
  a:hover {
    color: #6070ff; }

button {
  outline: none; }

.top_section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-bottom-left-radius: 3rem;
  top: 0;
  left: 0;
  padding: 1.5rem; }
  .top_section p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 18px; }
  .top_section .header {
    font-weight: 700;
    color: #172b4d;
    font-size: 2.2rem;
    line-height: 2.3rem;
    margin-bottom: 1rem; }
  .top_section .link_head {
    color: #6070ff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px; }
  .top_section .icon-social {
    line-height: 10px;
    color: black;
    margin-bottom: 3.5rem; }
    .top_section .icon-social a {
      text-decoration: none;
      color: #172b4d;
      margin-right: 10px; }
      .top_section .icon-social a:hover {
        color: #6070ff; }
  .top_section .eclipse-4 {
    background: #6070ff;
    position: absolute;
    width: 7px;
    height: 7px;
    left: 0;
    top: 0;
    border-radius: 50%; }
  .top_section .eclipse-5 {
    position: absolute;
    width: 11px;
    height: 10px;
    left: 132.98px;
    top: 35px;
    /* Primary/B100 */
    background: #cbcdff;
    transform: rotate(52.97deg);
    border-radius: 50%; }
  .top_section .rectangle-7 {
    position: absolute;
    width: 26.46px;
    height: 4.73px;
    left: 125px;
    top: 50px;
    /* Primary/B400 */
    background: #6070ff;
    transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0); }

.nav-link {
  font-size: 1.2rem; }

.navbar-brand {
  color: #6070ff !important;
  font-weight: 500; }

.navbar-light .navbar-toggler {
  color: #6070ff; }

.navbar-toggler {
  border: none; }

.article {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px; }
  .article .header {
    font-weight: 500;
    font-size: 1.5rem;
    color: #172b4d; }
  .article img {
    width: 100%; }
  .article ul {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    list-style: inside; }
    .article ul li {
      margin-right: 20px;
      text-decoration: none; }
      .article ul li:first-child {
        text-decoration: none; }

@media screen and (max-width: 375px) {
  .top-section {
    padding: 1.8rem; }
    .top-section .header {
      font-weight: 500; } }

/*# sourceMappingURL=style.css.map */
