*,
::before,
::after {
  box-sizing: border-box; }

html,
body {
  background: #cecac5;
  font-family: "Poppins", sans-serif;
  text-align: left;
  text-justify: auto;
  font-size: 10px;
  width: 100%;
  height: 100%; }

header {
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0; }

.fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

footer {
  bottom: 0;
  left: 0;
  background-color: white;
  border-top-right-radius: 50px; }
  footer ul {
    display: inline-flex;
    list-style: none;
    flex-wrap: wrap; }
  footer li {
    margin-right: 10px; }
  footer h5 {
    text-align: left;
    width: 60%; }
  footer h5::before {
    content: "";
    border-bottom: 4px solid #6070ff;
    width: 10%; }
  footer .footer_top {
    padding: 20px; }
  footer .footer_bottom {
    padding: 20px;
    background-color: rgba(2, 2, 124, 0.445);
    border-top-left-radius: 50px; }

a {
  text-decoration: none;
  color: #6070ff; }
  a:hover {
    color: #172b4d; }

nav {
  background: #fff; }

button {
  outline: none; }

.top_section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  background-image: url("/images/Header bg@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 3rem;
  top: 0;
  left: 0;
  height: 90vh;
  padding: 6rem 2rem 5rem 2rem; }
  .top_section p {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 18px; }
  .top_section .header {
    font-weight: 700;
    color: #172b4d;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    margin-top: 3rem; }
  .top_section .link_head {
    color: #6070ff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 2.5rem; }
  .top_section .icon-social {
    line-height: 10px;
    color: black;
    margin-bottom: 3.5rem; }
    .top_section .icon-social a {
      text-decoration: none;
      color: #6070ff;
      margin-right: 10px; }
      .top_section .icon-social a:hover {
        color: #172b4d; }
  .top_section .eclipse-4 {
    background: #6070ff;
    position: absolute;
    width: 7px;
    height: 7px;
    left: 0;
    top: 0;
    border-radius: 50%; }
  .top_section .eclipse-5 {
    position: absolute;
    width: 11px;
    height: 10px;
    left: 132.98px;
    top: 35px;
    /* Primary/B100 */
    background: #cbcdff;
    transform: rotate(52.97deg);
    border-radius: 50%; }
  .top_section .rectangle-7 {
    position: absolute;
    width: 26.46px;
    height: 4.73px;
    left: 125px;
    top: 50px;
    /* Primary/B400 */
    background: #6070ff;
    transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0); }

.main-section {
  height: 90vh; }

.skill-set {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px; }

.container-lg {
  display: flex;
  justify-content: space-between; }

.nav-link:hover {
  color: #172b4d; }

.navbar-light .navbar-nav .nav-link {
  font-size: 1.2rem;
  color: #6070ff; }

.project-details {
  padding: 1.5rem; }
  .project-details p {
    margin: 2rem 0; }

.proj-link {
  position: relative;
  display: flex;
  align-items: center;
  margin: 3rem; }
  .proj-link i {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #172b4d;
    font-size: 2rem;
    font-weight: 500; }
  .proj-link i:hover {
    color: #6070ff; }

.nav-container {
  display: none;
  color: #6070ff;
  font-weight: 500;
  font-size: 1.2rem;
  align-items: center; }

.navbar-brand {
  color: #6070ff !important;
  font-weight: 500;
  font-size: 1.5rem; }

.navbar-light .navbar-toggler {
  color: #6070ff; }

.navbar-toggler {
  border: none; }

.social-media {
  background-image: url(/images/social-media.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat; }

.yachting-lifestyle {
  background-image: url(/images/yachting-website.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat; }

.library-app {
  background-image: url(/images/library-app.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat; }

.weather-app {
  background-image: url(/images/weather-app.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  border-radius: 10px; }

.article {
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  height: 95vh; }
  .article .header {
    font-weight: 600;
    font-size: 1.5rem;
    color: #172b4d;
    margin-bottom: 2rem; }
  .article img {
    width: 100%;
    border-radius: 10px 10px 0 0; }
  .article ul {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    list-style: inside; }
    .article ul li {
      margin-right: 20px;
      text-decoration: none; }
      .article ul li:first-child {
        text-decoration: none; }

@media screen and (min-width: 375px) {
  .top_section {
    padding: 1.9rem; }
    .top_section .header {
      font-weight: 500; } }
@media screen and (min-width: 425px) {
  .top_section {
    padding: 3rem; } }
@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 1.4rem; }

  .article {
    flex-direction: row; }
    .article h2 {
      font-weight: 500; }
    .article img {
      width: 60%;
      margin-right: 1rem;
      margin-left: 1rem; }
    .article .project-details {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
    .article .skill-set {
      font-size: 1.1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0 5px 0 5px; }
    .article p {
      font-size: 1rem; }

  .top_section {
    padding: 4.025rem; }

  .social-media {
    background-image: url(/images/social-media.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat; }

  .yachting-lifestyle {
    background-image: url(/images/yachting-website.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat; } }
@media screen and (min-width: 1024px) {
  .top_section {
    padding: 10rem; }
    .top_section .header {
      font-size: 2.5rem; }
    .top_section p {
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1.2rem; }
    .top_section .link_head {
      font-size: 1.5rem; }
    .top_section .icon-social {
      font-size: 1.2rem;
      margin-bottom: 0; }

  .nav-container {
    justify-content: space-between; }

  .nav-link {
    color: #6070ff;
    font-weight: 400;
    display: inline;
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 0; }

  .nav-link:not(:last-child) {
    margin-right: 2rem; }

  .my_nav {
    font-weight: 500;
    font-size: 2rem;
    color: #6070ff; }

  footer h5 {
    font-size: medium; }
  footer .footer_top {
    padding: 8rem; }
  footer .footer_bottom {
    padding: 8rem; }
  footer h2 {
    font-size: 3rem; }
  footer p {
    font-weight: 400;
    font-size: medium; } }
@media screen and (min-width: 1140px) {
  .top_section {
    padding: 15rem; } }
@media screen and (min-width: 2560px) {
  .top_section {
    padding: 25rem; } }

/*# sourceMappingURL=style.css.map */
