@media screen and (min-width: 375px) {
  // .top_section {
  //   padding: 3rem;

  //   .header {
  //     font-weight: 700;
  //     margin-top: 8rem;
  //   }
  // }
}

@media screen and (min-width: 425px) {
  .top_section {
    padding: 3rem;
  }
}

@media screen and (min-width: 768px) {
  footer {
    .footer_top {
      padding: 7rem;
    }
    h2 {
      font-size: x-large;
    }
    h5 {
      font-size: medium;
    }
    p {
      font-size: medium;
    }
    span {
      font-size: 1.2rem;
    }
    .footer_bottom {
      padding: 7rem;
    }
  }
  .nav-link {
    font-size: 1.4rem;
  }
  .article {
    display: flex;
    flex-direction: row;
    .header {
      font-size: 2rem;
    }
    h2 {
      font-weight: 500;
    }
    img {
      width: 60%;
      margin-right: 1rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0;
    }
    .project-details {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .skill-set {
      font-size: 1.345rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 5px 0 5px;
    }
    p {
      font-size: 1.2rem;
    }
  }
  .top_section {
    padding: 7rem;
    .header {
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
      line-height: 20px;
    }
  }

  .social-media {
    background-image: url(/images/social-media.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .yachting-lifestyle {
    background-image: url(/images/yachting-website.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1024px) {
  .top_section {
    padding: 10rem;
    // margin-bottom: 2rem;
    .header {
      font-size: 4rem;
      line-height: 4rem;
    }
    p {
      font-weight: 300;
      font-size: x-large;
      line-height: 3rem;
    }
    .link_head {
      font-size: x-large;
    }
    .icon-social {
      font-size: medium;
      margin-bottom: 0;
    }
  }
  .nav-container {
    justify-content: space-between;
  }

  .nav-link {
    color: $light-blue;
    font-weight: 400;
    display: inline;
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 0;
  }

  .nav-link:not(:last-child) {
    margin-right: 2rem;
  }

  .my_nav {
    font-weight: 500;
    font-size: 2rem;
    color: $light-blue;
  }
  footer {
    h5 {
      font-size: medium;
    }
    .footer_top {
      padding: 8rem;
    }
    .footer_bottom {
      padding: 8rem;
    }
    h2 {
      font-size: 3rem;
    }
    p {
      font-weight: 400;
      font-size: medium;
    }
  }

  .article {
    .header {
      font-size: 3rem;
    }
    .skill-set {
      font-size: 1.75rem;
    }
    p {
      font-size: medium;
    }
  }
}

@media screen and (min-width: 1140px) {
  .top_section {
    padding: 20rem;
    p {
      font-size: x-large;
      line-height: normal;
      margin-bottom: 8rem;
    }
    .link_head {
      font-size: x-large;
    }
    .icon-social {
      font-size: medium;
    }
  }
}

@media screen and (min-width: 2560px) {
  .top_section {
    padding: 25rem;
  }
}
