@media screen and (min-width: 375px) {
  .top_section {
    padding: 1.9rem;

    .header {
      font-weight: 500;
    }
  }
}

@media screen and (min-width: 425px) {
  .top_section {
    padding: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 1.4rem;
  }
  .article {
    flex-direction: row;
    h2 {
      font-weight: 500;
    }
    img {
      width: 60%;
      margin-right: 1rem;
      margin-left: 1rem;
    }
    .project-details {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .skill-set {
      font-size: 1.1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0 5px 0 5px;
    }
    p {
      font-size: 1rem;
    }
  }
  .top_section {
    padding: 4.025rem;
  }
}

@media screen and (min-width: 1024px) {
  .top_section {
    padding: 10rem;
    // margin-bottom: 2rem;
    .header {
      font-size: 2.5rem;
    }
    p {
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
    .link_head {
      font-size: 1.5rem;
    }
    .icon-social {
      font-size: 1.2rem;
      margin-bottom: 0;
    }
  }
  .nav-container {
    justify-content: space-between;
  }

  .nav-link {
    color: $light-blue;
    font-weight: 400;
    display: inline;
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 0;
  }

  .nav-link:not(:last-child) {
    margin-right: 2rem;
  }

  .my_nav {
    font-weight: 500;
    font-size: 2rem;
    color: $light-blue;
  }
}

@media screen and (min-width: 1140px) {
  .top_section {
    padding: 15rem;
  }
}

@media screen and (min-width: 2560px) {
  .top_section {
    padding: 25rem;
  }
}
