$minor-color: #172b4d;
$light-blue: #6070ff;
$hover-link: tomato;

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background: rgb(206, 202, 197);
  font-family: "Poppins", sans-serif;
  text-align: left;
  text-justify: auto;
  font-size: 10px;
}

section {
  height: 100vh;
}
article {
  height: 90vh;
}

header {
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
}

.fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

footer {
  bottom: 0;
  left: 0;
  background-color: white;
  border-top-right-radius: 50px;

  ul {
    display: inline-flex;
    list-style: none;
    flex-wrap: wrap;
  }

  li {
    margin-right: 10px;
  }

  .footer_top {
    padding: 20px;
  }

  .footer_bottom {
    padding: 20px;
    background-color: rgba(2, 2, 124, 0.445);
    border-top-left-radius: 50px;
  }
}

a {
  text-decoration: none;
  color: $minor-color;

  &:hover {
    color: $light-blue;
  }
}

nav {
  background: #fff;
}

button {
  outline: none;
}

.top_section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-bottom-left-radius: 3rem;
  top: 0;
  left: 0;
  padding: 1.5rem;

  p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 18px;
  }

  .header {
    font-weight: 700;
    color: $minor-color;
    font-size: 2.2rem;
    line-height: 2.3rem;
    margin-bottom: 1rem;
  }

  .link_head {
    color: $light-blue;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
  }

  .icon-social {
    line-height: 10px;
    color: black;
    margin-bottom: 3.5rem;

    a {
      text-decoration: none;
      color: $minor-color;
      margin-right: 10px;

      &:hover {
        color: $light-blue;
      }
    }
  }

  .eclipse-4 {
    background: #6070ff;
    position: absolute;
    width: 7px;
    height: 7px;
    left: 0;
    top: 0;
    border-radius: 50%;
  }

  .eclipse-5 {
    position: absolute;
    width: 11px;
    height: 10px;
    left: 132.98px;
    top: 35px;

    /* Primary/B100 */
    background: #cbcdff;
    transform: rotate(52.97deg);
    border-radius: 50%;
  }

  .rectangle-7 {
    position: absolute;
    width: 26.46px;
    height: 4.73px;
    left: 125px;
    top: 50px;

    /* Primary/B400 */
    background: #6070ff;
    transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
  }
}

.nav-link {
  color: $light-blue;
  font-weight: 400;
  display: inline;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.nav-link:not(:last-child) {
  margin-right: 3rem;
}

.my_nav {
  font-weight: 500;
  font-size: 2rem;
  color: $light-blue;
}

.container-lg {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: none;
  color: $light-blue;
  font-weight: 500;
  font-size: 1.2rem;
  align-items: center;
}

.navbar-brand {
  color: $light-blue !important;
  font-weight: 500;
}

.navbar-light .navbar-toggler {
  color: $light-blue;
}

.navbar-toggler {
  border: none;
}

.article {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;

  .header {
    font-weight: 500;
    font-size: 1.5rem;
    color: $minor-color;
  }

  img {
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    list-style: inside;

    li {
      margin-right: 20px;
      text-decoration: none;

      &:first-child {
        text-decoration: none;
      }
    }
  }
}

@import "custom";
@import "medium_screen";
